* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    background: radial-gradient(circle at 100% 50%, #3c58ba 0%, #ff4576 100%);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}