@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de)
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;

}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover , header ul li a.hover {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: absolute;
  color: #fff;  
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;

}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec {
  position: relative;
  padding: 100px;
  background-image: linear-gradient(to top, #000, #1c0522,#1c0522, #362469);
  width: 100%;
  height: 100vh;
}

.sec h2 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 10px;
}

.sec p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
}

.third {
  position: relative;
  padding: 100px;
  background: #000 ;
  width: 100%;
  /*height: 100vh;*/
}

.third h2 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 10px;
  border-bottom: 3px solid #fff;
}

.third p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
}

.fourth {
  position: relative;
  padding: 100px;
  background-image: linear-gradient(to top, #1c0522, #000);
  width: 100%;
  height: 100vh;
}

.fourth h2 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 10px;
}

.fourth p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
}

.fifth {
  position: relative;
  padding: 100px;
  background: #1c0522 ;
  width: 100%;
  height: 100vh; 
}

.fifth h2 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 10px;
}

.fifth p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 10px;
}

.fifth-inner {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  padding-top: 0;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  font-size: 16px;
}

form button {
  padding: 15px;
  background-color: #fff;
  font-size: 18 px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

#darkbox { width:1280px; height:720px; position:absolute;
  top:0; left:0; background-color:#333; overflow: hidden; text-align:center;
}
.darkboximg { padding:5%; max-width: 1216px; max-height: 684px; }

#gallery {
  line-height:0;
  -webkit-column-count:5;
  -webkit-column-gap:5px;
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
  margin-top:2rem;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px;
  filter: grayscale(100%);
  transition: filter 2s;
}

#gallery img:hover {
  filter:none;
}

@media (max-width: 1200px) {
  #gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}