
body {
	background: url('../images/islan2.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	font-size: 80px;
	display: block;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
}
h2 {
	background: #75c1f6;
	color: black;
	padding: 5px;
	border-radius: 6px;
}
a {
	color: #75c1f6;
	text-decoration: none;
}
.entry-title {
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    margin-top: 200px;
    margin-bottom: 350px;
    color: white;
    font-family: 'Fascinate', cursive;
    font-size: 60px;
}

#title {
    background: none;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    font-weight: 800;
    box-sizing: border-box;
    text-transform: capitalize !important;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fca311;
  color: white;
  border-radius: 10px;
}

p {
    color: white;
    padding: 30px;
}

#container {
    background: black;
    margin: 0px;
    padding:15px;
    padding-bottom: 1000px;
    padding-top:20px;
}
#bluetitle {
    width: 250px;
}
#footer {
    font-size: 10px;
    display: block;
}