html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    touch-action: none;
  }
  #main {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .box-slot {
    border-width: 2px;
    margin: 10px;
    border-radius: 20px;
    border: #00000040 solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    background-color: #f7ff003d;
  }
  .thingy {
  }
  .blue {
    background-color: #adadff;
  }
  .red {
    background-color: #ff9a9a;
  }