*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 auto
}

body{

    font-family: "Arial", Helvetica, sans-serif;
}


.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px);
    transition: all 0.6s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
}

i{
    font-size: 2em;
    cursor: pointer;
}
h1, p{
    text-align: center;
    font-size: 3em;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

header a{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    padding-right: 20px;
}

header img{
    width: 50px;
    height: auto;
}


.bi-brightness-high-fill::before, .bi-moon::before{
    transform: translateY(-5%);
}
.bi-moon::before{
    transform: translateY(-15%);
}

header ul {
    display: flex;
    align-items: center;   
}

header ul li {
    list-style: none;
    padding-right: 10px; 
    padding-left: 10px;
}

#keretes{
    border-style: solid;
}

.bg {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: -1;
    opacity: 0.15;
}

.bg img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

main {
    padding-top: 230px;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}

main h1 {
    font-weight: 1000;

}

main p {
    font-size: 1.2em;
}

#maintext{
    padding-top: 50px;
    padding-bottom: 80px;
    width: 300px;
}

main form{
    padding-top: 10px;
}

.form-element{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.form-element img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 15px;   
}

.img{
    padding-bottom: 10px;
}

.form-element span, #myList{
    margin-bottom: 10px;
    margin-top: 10px;
}

input, textarea, #myList{
    border: 1px solid #ccc;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
}

#osztaly, #osztaly2{
    display: none;
}

pre{
    padding-top: 15px;
    border-radius: 5px;
}
form button{
    border: none;
    background-color: #da251c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 992px) { /* 992px wide or less */
    body {

    }
}

@media screen and (max-width: 600px) { /* 600px wide or less */
    body {
                
    }
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}