@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: "Arial", Helvetica, sans-serif;
}

.hidden{
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100px);
    transition: all 0.5s;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

header li a{
    list-style: none;
    padding-right: 10px; 
    padding-left: 10px;
    text-decoration: none;
    list-style: none;
    color: black;
}

header img{
    width: 50px;
    height: auto;
}


.bi-brightness-high-fill::before, .bi-moon::before{
    transform: translateY(-5%);
}

.bi-moon::before{
    transform: translateY(-15%);
}

header ul {
    display: flex;
    align-items: center;   
}

header ul li {
    list-style: none;
    padding-right: 10px; 
    padding-left: 10px;
}

header i {
    font-size: 1.2em;
    cursor: pointer;
}

#keretes{
    border-style: solid;
}

/*   ---------------------------STYLE BACKGROUND below----------------------------   */

.bg {
    position: absolute;
    top: 90px; /* a header miatt */
    left: 0;
    z-index: -1;
    opacity: 0.15;
}

.bg img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/*   ---------------------------TEXT STYLE DOWN below----------------------------   */

main {
    padding-top: 150px; /* a header miatt, távolság a text és legteteke */
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 300px;
}

h3{
    padding: 0;
    padding-top: 15px;
    margin: 0;
    font-size: 1.5em;
}

#mainConainer{
    width: 300px;
    height: 150px;
}

.mainTitle h1{
    text-align: center;
    text-align: center;
    width: 300px;
    letter-spacing: 2px;
    font: bold 45pt 'Lilita One';
    text-shadow:
        1px 1px 0 #aaa,
        2px 2px 0 #bbb,
        3px 3px 0 #bbb,
        4px 4px 0 #bbb,
        4px 4px 15px #888,
        4px 4px 5px #444;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px);
    transform: scale(1) rotate(0deg) translate(0px, 0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    padding-bottom: 5px;
}

.mainTitle h1:hover{
    padding-top: 20px;
    text-shadow:
        1px 1px 0 #aaa,
        2px 2px 0 #bbb,
        3px 3px 0 #bbb,
        4px 4px 0 #bbb,
        13px 13px 35px #888,
        13px 13px 20px #444;
        -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-1deg, -1deg);
        -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-1deg, -1deg);
        -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-1deg, -1deg);
        -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-1deg, -1deg);
        transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-1deg, -1deg);

}

.mainTitle a{   
    font-size: 1em;
}

form{
    padding-top: 50px; /* a header és a kérdések közti távolság */
}

option{
    align-items: center;
    text-align: center;
}

:placeholder-shown{
    text-align: center;
}

::placeholder{
    text-align: center;
}

.form-element{ /* kérdések */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element img{ /* kérdések képei */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 300px;

}

.img{
    padding-bottom: 10px; /* képek allatti hely csak ahol nincs szöveg a kép alatt*/
}

.form-element span, #myList{ /* kérdések szövegei */
    margin-bottom: 10px;
    margin-top: 10px;
}

input, textarea, #myList{ /* inputok */
    border: 1px solid #ccc;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
}

#osztaly, #osztaly2{ /* osztályválasztó input elrejtése */
    display: none;
}

pre{ /* a vers stílusa */
    padding-top: 0px;
    border-radius: 5px;
    font-family: 'Ms Madi', cursive; /* amíg nincs jobb font*/
    font-weight: 800;
    font-size: 1.8em;
}

form button{ /* gombok stílusa */
    border: none;
    background-color: #da251c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#photo_upload{
    transform: translateY(-40px);
}

/*   ---------------------------MEDIA QUERIES DOWN----------------------------   */

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}